$header-height: 90px;
$footer-height: 80px;
$main-padding-top: 30px;
$main-padding-bottom: 30px;


$white: #ffffff;
$black: #000000;
$black-light: #1a1a1a;
$gray: #c5c5c5;
$gray-light: #f6f6f8;
$blue: #00b6f8;
$yellow: #ffba00;
$red: #ff0f00;