<section class="about">
    <h2 class="page-title">{{ title }}</h2>
    <div class="about__content">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit, sint corporis. Nemo voluptatum illum nam
            tenetur ipsam pariatur maiores laboriosam?
        </p>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti, dolore porro repellendus facilis quia
            omnis aperiam vel voluptas expedita accusamus quisquam natus quam debitis deserunt ducimus sapiente id fuga
            repellat. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti, dolore porro repellendus
            facilis quia
            omnis aperiam vel voluptas expedita accusamus quisquam natus quam debitis deserunt ducimus sapiente id fuga
            repellat.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti eius, voluptate reiciendis inventore vitae
            ut debitis rem! Modi itaque laboriosam aperiam! Odio iusto cupiditate at error amet enim nemo officia,
            adipisci quisquam doloremque natus fuga cum? Fuga optio accusamus inventore?
        </p>
    </div>
</section>